@if (isLoading) {
  <app-loader></app-loader>
  }

<div *ngIf="!isLoading && usuarios.length > 0" class="container">
  <h2>Lista de Usuarios</h2>
  <button class="btn btn-primary" routerLink="/form-cliente">Nuevo</button>
  <div class="table-responsive">
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Apellidos</th>
          <th>Correo</th>

          <th>Dirección</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let usuario of usuarios">
          <td>{{ usuario.nombre }} {{ usuario.apellidos }}</td>
          <td>{{ usuario.correo }}</td>
          <td>{{ usuario.apellidos }}</td>
          <td>{{ usuario.direccion }}</td>
          <td>
            <button [disabled]="currentUser?.user?.id == usuario.id" class="btn btn-warning btn-sm" [routerLink]="['/form-cliente',usuario.id]">Editar</button>
            <button [disabled]="currentUser?.user?.id == usuario.id" class="btn btn-danger btn-sm" (click)="eliminar(usuario.id)">Eliminar</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div *ngIf="!isLoading && usuarios.length === 0" class="alert alert-warning">
  No se encontraron usuarios.
</div>
